// variables
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

// fonts
$ff-primary: "Poppins", sans-serif;

// colors
$col-dark: #020202;
$col-light: #ffffff;
$col-light-2: #f5f7ff;
$col-gray: #acacac;
$col-blue: #0156ff;
