// variables
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

// fonts
$ff-primary: "Poppins", sans-serif;

// colors
$col-dark: #020202;
$col-text: #000000;
$col-light: #ffffff;
$col-light-2: #f5f7ff;
$col-gray: #acacac;
$col-gray-2: #cacdd8;
$col-gray-3: #a2a6b0;
$col-blue: #0156ff;
$col-green: #78a962;
$col-red: #c94d3f;
$col-yellow: #e9a426;
