.form {
    &--1 {
        position: relative;
        width: 100%;
        .submit-input {
            display: none;
        }
        .search-input {
            background-color: $col-light-2;
            border-radius: 40px;
            border: 0px;
            width: 100%;
            padding: 12px 30px;
            &:focus {
                outline: none;
            }
            &::after {
                content: none;
            }
        }
        svg {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 15px;
        }
    }
}

.newsletter {
    display: flex;
    input {
        width: 100%;
        padding: 10px;
        margin-right: 23px;
        background: $col-dark;
        border: 2px solid $col-light;
        border-radius: 4px;
        font-size: 14px;
        color: $col-light;
        &::placeholder {
            font-size: 14px;
            color: $col-gray;
        }
        &:focus {
            outline: none;
        }
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    input,
    textarea {
        background-color: $col-light;
        border: 2px solid $col-blue;
        border-radius: 6px;
        padding: 14px;
        width: 100%;
        margin-bottom: 20px;
        &::placeholder {
            color: $col-dark;
        }
    }
    button {
        background-color: $col-blue;
        border: 2px solid $col-blue;
        color: $col-light;
        cursor: pointer;
        padding: 10px 60px;
        text-align: center;
        font-size: 18px;
        border-radius: 6px;
    }
    .names {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}