.form {
    &--1 {
        position: relative;
        width: 100%;
        .submit-input {
            display: none;
        }
        .search-input {
            background-color: $col-light-2;
            border-radius: 40px;
            border: 0px;
            width: 100%;
            padding: 12px 30px;
            &:focus {
                outline: none;
            }
            &::after {
                content: none;
            }
        }
        svg {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
        }
        .nav-search-results {
            background-color: $col-light;
            border-radius: 8px;
            border: 1px solid $col-blue;
            position: absolute;
            top: 120%;
            left: 0px;
            width: 100%;
            min-height: 100px;
            max-height: 300px;
            padding: 20px;
            overflow-y: auto;
            .product-ctn {
                display: block;
                margin-bottom: 10px;
                text-decoration: none;
                border-bottom: 1px solid $col-gray;
                padding-bottom: 20px;
                &:last-child {
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    border-bottom: 0px;
                }
                .row {
                    align-items: center;
                }
                .product-image {
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 100%;
                    max-width: 100px;
                    height: 100px;
                }
                h5 {
                    color: $col-dark;
                    max-width: 400px;
                    font-weight: 500;
                }
                .price {
                    text-align: center;
                    font-size: 16px;
                    color: $col-dark;
                }
            }
        }
    }
}

.newsletter {
    display: flex;
    input {
        width: 100%;
        padding: 10px;
        margin-right: 23px;
        background: $col-dark;
        border: 2px solid $col-light;
        border-radius: 4px;
        font-size: 14px;
        color: $col-light;
        &::placeholder {
            font-size: 14px;
            color: $col-gray;
        }
        &:focus {
            outline: none;
        }
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    input,
    textarea {
        background-color: $col-light;
        border: 2px solid $col-blue;
        border-radius: 6px;
        padding: 14px;
        width: 100%;
        margin-bottom: 20px;
        &::placeholder {
            color: $col-dark;
        }
    }
    button {
        background-color: $col-blue;
        border: 2px solid $col-blue;
        color: $col-light;
        cursor: pointer;
        padding: 10px 60px;
        text-align: center;
        font-size: 18px;
        border-radius: 6px;
    }
    .names {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
