.top-bar {
    background-color: $col-dark;
    color: $col-light;
    padding: 8px 0px;
    font-size: 12px;
    font-weight: 500;
    .fa-angle-down {
        margin-left: 6px;
    }
    span {
        color: $col-gray;
    }
    a {
        color: $col-light;
        border-bottom: 1px solid $col-light;
        text-decoration: none;
    }
    .call-us {
        svg {
            font-size: 20px;
            margin-left: 10px;
        }
        a {
            border-bottom: 0px;
        }
    }
    .fa-angle-down {
        cursor: pointer;
    }
    .shop-info-ctn {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        .row {
            width: 100%;
            margin: 0 auto;
            border-bottom: 1px solid $col-gray;
            padding: 12px 0px;
            &:last-child {
                border-bottom: 0px;
            }
            .col-3 {
                text-align: center;
            }
        }
        .shop-info {
            position: absolute;
            background-color: $col-light;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 6px;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
            color: $col-dark;
            top: 180%;
            width: 100%;
            z-index: 100;
            svg {
                color: $col-blue;
                font-size: 40px;
                text-align: center;
            }
            h5 {
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 4px;
            }
            p {
                margin-bottom: 8px;
                span {
                    font-weight: 600;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            a {
                color: $col-blue;
                font-weight: 400;
            }
        }
    }
}

.navbar {
    border-bottom: 1px solid $col-gray;
    padding: 11px 0px;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu-icon {
        cursor: pointer;
        font-size: 30px;
    }
    .nav-items {
        position: absolute;
        top: 104px;
        left: 0px;
        background-color: $col-light;
        height: calc(100vh - 104px);
        width: 100%;
        padding: 15px 0px;
        z-index: 10;
        transform: translateX(-100%);
        .container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: 100%;
        }
        .nav-links {
            margin-bottom: 10px;
            font-weight: 600;
            ul {
                margin-bottom: 20px;
                li {
                    list-style-type: none;
                    margin-bottom: 10px;
                }
            }
            a {
                color: $col-dark;
                text-decoration: none;
            }
        }
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

.nav-items.open {
    animation: slideInFromLeft 0.5s forwards;
}

.nav-items.closed {
    animation: slideOutToLeft 0.5s forwards;
}

@media screen and (min-width: $bp-md) {
    .navbar {
        .nav-items {
            top: 111px;
        }
    }
}

@media screen and (min-width: $bp-xl) {
    .nav-items.open {
        animation: none;
    }

    .nav-items.closed {
        animation: none;
    }
    .navbar {
        .logo {
            margin-right: 30px;
        }
        .nav-items {
            transform: translateX(0%);
            height: fit-content;
            position: static;
            padding: 0px;
            .container {
                flex-direction: row;
                align-items: center;
                padding: 0px;
                position: relative;
                .nav-links {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    margin-bottom: 0px;
                    ul {
                        display: flex;
                        margin-bottom: 0px;
                        li {
                            margin-bottom: 0px;
                            margin-right: 18px;
                        }
                    }
                }
                .nav-actions {
                    align-items: center;
                    .close-searchbar {
                        color: $col-blue;
                    }
                    svg {
                        cursor: pointer;
                        font-size: 25px;
                    }
                    .cart {
                        margin-left: 30px;
                        position: relative;
                        .notification {
                            background-color: $col-blue;
                            border-radius: 100%;
                            color: $col-light;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            font-weight: 600;
                            width: 16px;
                            height: 16px;

                            position: absolute;
                            right: -12px;
                            top: -6px;
                        }
                        svg {
                            cursor: pointer;
                            position: relative;
                            top: 4px;
                        }
                    }
                    .profile {
                        background-image: url(../images/profile-placeholder.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        cursor: pointer;
                        margin-left: 30px;
                        width: 36px;
                        height: 36px;
                        position: relative;
                        .profile-card {
                            background-color: $col-light;
                            border: 1px solid rgba(0, 0, 0, 0.2);
                            border-radius: 6px;
                            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
                            color: #020202;
                            position: absolute;
                            width: 100%;
                            z-index: 100;
                            min-width: 300px;
                            top: 100%;
                            right: -50%;
                            padding: 20px;
                            ul {
                                li {
                                    font-size: 14px;
                                    list-style: none;
                                    margin-bottom: 6px;
                                    &:last-child {
                                        margin-bottom: 0px;
                                    }
                                    a {
                                        text-decoration: none;
                                        color: $col-dark;
                                    }
                                }
                            }
                        }
                    }
                }
                .nav-search-ctn {
                    margin-top: 10px;
                }
                .form--1 {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 80%;
                    transform: translateX(-200%);
                }
            }
        }
        .form--1.open {
            animation: slideInFromLeft 0.5s forwards;
            visibility: visible;
        }

        .form--1.closed {
            animation: slideOutToLeft 0.5s forwards;
            visibility: hidden;
        }
        .cart {
            position: relative;
            .cart-items-ctn {
                &.no-items {
                    h6,
                    .cart-header {
                        margin-bottom: 0px !important;
                    }
                }
                position: absolute;
                top: 100%;
                right: -100%;
                background-color: #ffffff;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 6px;
                box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
                color: #020202;
                padding: 23px 0px;
                width: 100%;
                min-width: max-content;
                height: fit-content;
                text-align: center;
                z-index: 100;
                img {
                    max-width: 65px;
                }
                .cart-header {
                    padding: 0px 50px;
                    margin-bottom: 20px;
                    text-align: center;
                    h5 {
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 6px;
                    }
                    h6 {
                        color: $col-gray;
                        margin-bottom: 20px;
                        font-weight: 500;
                        font-size: 12px;
                    }
                    .btn {
                        cursor: pointer;
                    }
                }
                .cart-items {
                    margin-bottom: 18px;
                    max-height: 320px;
                    overflow-y: auto;
                    .cart-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 18px 24px;
                        border-bottom: 1px solid $col-gray;
                        &:first-child {
                            border-top: 1px solid $col-gray;
                        }
                        p {
                            font-size: 13px;
                            padding-right: 12px;
                            text-align: left;
                        }
                        .cart-actions {
                            .item {
                                border: 1px solid $col-gray;
                                border-radius: 100%;
                                cursor: pointer;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                width: 20px;
                                height: 20px;
                                margin-bottom: 6px;
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                                svg {
                                    color: $col-gray;
                                    font-size: 12px;
                                    position: relative;
                                    top: 0px;
                                }
                            }
                        }
                    }
                }
                h4 {
                    color: $col-gray;
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 14px;
                    span {
                        color: $col-dark;
                        font-size: 18px;
                    }
                }
                .cart-footer {
                    padding: 0px 50px;
                }
            }
        }
    }
}

@media screen and (max-width: $bp-xl) {
    .navbar {
        .nav-items {
            .nav-actions {
                width: 100%;
                .nav-search-ctn {
                    margin-top: 10px;
                    width: 100%;
                    svg {
                        display: none;
                    }
                    .form--1 {
                        svg {
                            display: block;
                            top: 13px;
                        }
                    }
                }
            }
        }
    }
}
